.header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search {
    flex: 1;
}

@media (max-width: 700px) {
    .search {
        order: 1;
        min-width: 280px;
    }
}

@media (max-width: 420px) {
    .switch {
        flex: 1;
    }
}